<% @artists.each do |artist| %>
  <%= artist.name %>
  
  <ul><% @albums.each do |album| %>
    <% if artist.id == album.artist_id %>
      <li><%= album.name %></li>

        <% @stocks.each do |stock| %>
          <% if album.id == stock.album_id %>
            <%= stock.format %> | <%= stock.stock_level %> | <%= stock.threshold  %> | <%= stock.buy_price %> | <%= stock.sell_price %>
          <% end %>
        <% end %>

        <form action="/stock/new" method="post">
          <input type="text" name="name">
          <select name="album_id" style='display:none'>
            <option value="<%= album.id %>"><%= album.name %></option>
          </select>
          <input type='submit' value="Add Stock">
        </form>
      
      <% end %>
    <% end %>

  <form action="/album/new" method="post">
    <input type="text" name="name">
    <select name="artist_id" style='display:none'>
      <option value="<%= artist.id %>"><%= artist.name %></option>
    </select>
    <input type='submit' value="Add Album">
  </form>
  </ul>
  <hr>
<% end %>

<form action="/artist/new" method="post">
  <input type="text" name="name">
  <input type='submit' value="Add Artist">
</form>
