<ul><% @artists.each do |artist| %>
  <div class="artist_div"><b><%= artist.name %></b>
  
  <ul><% @albums.each do |album| %>
    <% if artist.id == album.artist_id %>
      <li><%= album.name %></li>

        <ul><% @stocks.each do |stock| %>
          <% if album.id == stock.album_id %>
            <li>Format: <%= stock.format %> | Stock: <%= stock.stock_level %> | Optimal: <%= stock.threshold  %> | Buy: <%= stock.buy_price %> | Sell: <%= stock.sell_price %></li>
          <% end %>
        <% end %>
        </ul>

        <form action="/stock/new" method="post">
          <select name="album_id" style='display:none'>
            <option value="<%= album.id %>"><%= album.name %></option>
          </select>
          Format: <select name="format">
            <option value = "CD">CD</option>
            <option value="Vinyl">Vinyl</option>
          </select>
          No. of: <input type='number' name="stock_level" class="resizedtextbox">
          Optimum: <input type='number' name="threshold" class="resizedtextbox">
          Buy: <input type='number' name="buy_price" class="resizedtextbox">
          Sell: <input type='number' name="sell_price" class="resizedtextbox">
          <input type='submit' value="Add Stock">
        </form>
      
      <% end %>
    <% end %>

  <form action="/album/new" method="post">
    <input type="text" name="name">
    <select name="artist_id" style='display:none'>
      <option value="<%= artist.id %>"><%= artist.name %></option>
    </select>
    <input type='submit' value="Add Album">
  </form>

  </ul>
 </div>
<% end %>

</ul>

<ul><div class= "artist_div">
<form action="/artist/new" method="post">
  <input type="text" name="name">
  <input type='submit' value="Add Artist">
</form>
</div></ul>

</ul>