<ul><% @artists.each do |artist| %>
  <div class="artist_div">
  <h3><%= artist.name %></h3>
  
  <ul><% @albums.each do |album| %>
    
    <% if artist.id == album.artist_id %>
    <div class="album_div">

      <div class="album_cover">
        <object data="/images/covers/<%= album.cover %>.jpg" type="image/jpg">
          <img src="/images/covers/placeholder.jpg" />
        </object>
      </div> 
       
      <div class="album_details">
        <li><h4><%= album.name %></h4></li>
        <table style="width:100%">

          <tr>
            <th>Format</th>
            <th>Stock Level</th> 
            <th>Optimal</th>
            <th>Buy Price</th>
            <th>Sell Price</th>
          </tr>

          <% @stocks.each do |stock| %>
          <% if album.id == stock.album_id %>

          <tr>
            <td><%= stock.format %></td>
            <td><%= stock.stock_level %></td>
            <td><%= stock.threshold %></td>
            <td><%= stock.buy_price %></td>
            <td><%= stock.sell_price %></td>
            <td><form action=<%="/stock/#{stock.id}/delete"%> method="post">
              <input type='submit' value="Delete">
            </form></td>
          </tr>

        <% end %> <!-- ending stock if -->
        <% end %> <!-- ending stock for loop -->

        <form action="/stock/new" method="post">
          <select name="album_id" style='display:none'>
            <option value="<%= album.id %>"><%= album.name %></option>
          </select>
          <tr>
            <td><select name="format">
              <option value = "CD">CD</option>
              <option value="Vinyl">Vinyl</option>
            </select></td>
            <td><input type='number' name="stock_level" class="resizedtextbox"></td>
            <td><input type='number' name="threshold" class="resizedtextbox"></td>
            <td><input type='number' name="buy_price" class="resizedtextbox"></td>
            <td><input type='number' name="sell_price" class="resizedtextbox"></td>
            <td><input type='submit' value="Add"></td>
          </tr>

        </table>
        </form>
      
    </div> <!-- closing album_details div -->
    </div> <!-- closing album_div -->

  <% end %> <!-- ending album if -->
  <% end %> <!-- ending album for loop -->

  <form action="/album/new" method="post" style='margin-left:-30px'>
    Name: <input type="text" name="name">
    <select name="artist_id" style='display:none'>
      <option value="<%= artist.id %>"><%= artist.name %></option>
    </select>
    <input type='submit' value="Add Album">
  </form>

</ul> <!-- ending album list -->
</div> <!-- closing artist_div -->
<% end %> <!-- closing artist for loop -->

<div class= "artist_div">
<form action="/artist/new" method="post">
  <input type="text" name="name">
  <input type='submit' value="Add Artist">
</form>
</div>

</ul> <!-- closing artist list -->