<ul><% @artists.each do |artist| %>
  <div class="artist_div"><h3><%= artist.name %></h3>
  
  <ul><% @albums.each do |album| %><div class="album_div">
    <div class="album_cover"><img src="/images/placeholder.jpg"></div>
      <div class="album_details"><% if artist.id == album.artist_id %>
        <li><h4><%= album.name %></h4></li>

        <% @stocks.each do |stock| %>
          <% if album.id == stock.album_id %>
            <p>Format: <%= stock.format %> | Stock: <%= stock.stock_level %> | Optimal: <%= stock.threshold  %> | Buy: <%= stock.buy_price %> | Sell: <%= stock.sell_price %></p>
          <% end %> <!-- ending stock if -->
        <% end %> <!-- ending stock for loop -->

      <% end %> <!-- ending album if -->
      </div> <!-- closing album_details div -->

    </div> <!-- closing album_div div -->
    <% end %> <!-- ending album for loop -->
    </ul> <!-- ending album list -->

  </div> <!-- closing artist_div div -->
<% end %> <!-- closing artist for loop -->
</ul> <!-- closing artist list -->