<ul><% @artists.each do |artist| %>
  <div class="artist_div"><b><%= artist.name %></b>
  
  <ul><% @albums.each do |album| %>
    <% if artist.id == album.artist_id %>
      <li><i><%= album.name %></i></li>

        <% @stocks.each do |stock| %>
          <% if album.id == stock.album_id %>
            <%= stock.format %> | <%= stock.stock_level %> | <%= stock.threshold  %> | <%= stock.buy_price %> | <%= stock.sell_price %>
          <% end %>
        <% end %>
      
      <% end %>
    <% end %>

</ul>
</div>
<% end %>
</ul>