<% @artists.each do |artist| %>
  <%= artist.name %>
  
  <ul><% @albums.each do |album| %>
    <% if artist.id == album.artist_id %>
      <li><%= album.name %></li>

        <% @stocks.each do |stock| %>
          <% if album.id == stock.album_id %>
            <%= stock.format %> | <%= stock.stock_level %> | <%= stock.threshold  %> | <%= stock.buy_price %> | <%= stock.sell_price %>
          <% end %>
        <% end %>
      
      <% end %>
    <% end %>

</ul>
<hr>
<% end %>