<ul><% @artists.each do |artist| %>
  <div class="artist_div">
  <h3><%= artist.name %></h3>
  
  <ul><% @albums.each do |album| %>
    
    <% if artist.id == album.artist_id %>
    <div class="album_div">

      <div class="album_cover">
        <object data="/images/covers/<%= album.cover %>.jpg" type="image/jpg">
          <img src="/images/covers/placeholder.jpg" />
        </object>
      </div> 
       
      <div class="album_details">
        <li><h4><%= album.name %></h4></li>
        <table style="width:80%">

          <tr>
            <th>Format</th>
            <th>Stock Level</th> 
            <th>Optimal</th>
            <th>Buy Price</th>
            <th>Sell Price</th>
          </tr>

          <% @stocks.each do |stock| %>
          <% if album.id == stock.album_id %>

          <tr>
            <td><%= stock.format %></td>
            <td><%= stock.stock_level %></td>
            <td><%= stock.threshold %></td>
            <td><%= stock.buy_price %></td>
            <td><%= stock.sell_price %></td>
          </tr>

        <% end %> <!-- ending stock if -->
        <% end %> <!-- ending stock for loop -->
        </table>
      
    </div> <!-- closing album_details div -->
    </div> <!-- closing album_div -->

  <% end %> <!-- ending album if -->
  <% end %> <!-- ending album for loop -->
  </ul> <!-- ending album list -->

</div> <!-- closing artist_div -->
<% end %> <!-- closing artist for loop -->
</ul> <!-- closing artist list -->