<div class="table_div">
<table style="width:100%">
<h3>Low Stock</h3>

  <tr>
    <th>Artist</th>
    <th>Album</th>
    <th>Format</th>
    <th>Stock Level</th> 
    <th>Optimal</th>
    <th>Buy Price</th>
    <th>Sell Price</th>
  </tr>

  <% @stocks.each do |stock| %>
  <% if 0 < stock.stock_level && stock.stock_level < stock.threshold %>


    <tr>
      <td><%= ((stock.album).artist).name %></td>
      <td><%= (stock.album).name %></td>
      <td><%= stock.format %></td>
      <td><%= stock.stock_level %></td>
      <td><%= stock.threshold %></td>
      <td><%= stock.buy_price %></td>
      <td><%= stock.sell_price %></td>
    </tr>

  <% end %> <!-- ending stock if -->
  <% end %> <!-- ending stock for loop -->

</table> <!-- closing stock table -->
</div> <!-- closing table div -->

<div class="table_div">
<table style="width:100%">
<h3>Zero Stock</h3>

  <tr>
    <th>Artist</th>
    <th>Album</th>
    <th>Format</th>
    <th>Stock Level</th> 
    <th>Optimal</th>
    <th>Buy Price</th>
    <th>Sell Price</th>
  </tr>

  <% @stocks.each do |stock| %>
  <% if stock.stock_level == 0 %>


    <tr>
      <td><%= ((stock.album).artist).name %></td>
      <td><%= (stock.album).name %></td>
      <td><%= stock.format %></td>
      <td><%= stock.stock_level %></td>
      <td><%= stock.threshold %></td>
      <td><%= stock.buy_price %></td>
      <td><%= stock.sell_price %></td>
    </tr>

  <% end %> <!-- ending stock if -->
  <% end %> <!-- ending stock for loop -->

</table> <!-- closing stock table -->
</div> <!-- closing table div -->